@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", serif; */
}

body{
  width: 100%;
  overflow-x: hidden;
}

/* Subhasis */
.container_width {
  width: 80rem;
}

.px-12 {
  padding-inline: .75rem;
}

.mx-12 {
  margin-inline: .75rem;
}

.image {
  width: 37.5rem;
  height: 37.5rem;
}

.container_height {
  height: 40rem;
}

.card-bg {
  background-color: #edf4ff;
  cursor: pointer;
  transition: all 0.3s ease;
  /* box-shadow: 0 0 4px #e2e9f3; */
}

/* .card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 4px #d4ecff;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
} */

.cards:hover {
  box-shadow: 1px 1px 8px #e2e9f3;
  /* background-color: #f9fdff; */
  transform: translateY(-2px);
}

/* Ranjeet---------------------------------------------Ranjeet---------------------------------------------------------------- */
.main{
  height: 300px;
  width: 70px;
  border: 2px solid black;
}

.home-page-image{
  width: 37rem;
  height: 26rem;
  object-fit: cover;
}

.box1{
  margin-right: 20rem;
}

